html,
body {
  font-size: 10px;
  font-family: "Nunito", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.4rem !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1300px) {
  body {
    font-size: 1.6rem !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100% !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100% !important;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 132rem !important;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
